@import "mixin";
@import "header";
@import "aboutUs";
.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000000000000;
  background-color: #6d692eb0;
  border-radius: 100px;
  padding: 9px;
  cursor: pointer;
}
